#button {
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 0px;

    .icon {
        font-size: 18px;
        margin-right: 10px;
    }

    .active-icon {
        color: #e50f0f;
    }
}